body {
    font-family: 'Roboto', sans-serif;
background-color: slategrey;
}
#row-card {
    background: ivory;
}
#about-me-picture {
    height: 250px; 
    width: 250px;
    float: left;
    margin: 20px;
}

#masterhead {
    position: fixed;
  z-index: 99;
  width: 100%;
  margin: 0 0 30px;
  overflow: auto;
  color: #ffffff;
  background: navajowhite;
  border-bottom: salmon 2px;
}

#main-container {
    padding-top: 130px;
    min-height: calc(100vh - 70px);
  }

  #mybio {
      float: left;
  }